h1 {
  /* using color name */
  /* color: red; */

  /* rgb */
  /* color:rgb(125, 125, 125); */

  /* hexadecimal */
  color: #ff0;
}

body{
  background-color:rgb(0, 0,0) ;
}

div {
  color: white;
  background-color:rgba(255, 0, 0,0.2);
  height: 200px;
  width: 200px;
  
}
