h1{
    color: blueviolet;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 70px;
    text-shadow: 6px 8px 3px gray;
}

p{
    color: red;
}

body{
    background-color: black;
}