h1{
    /* color: blueviolet;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-variant: small-caps; */
}

h1{
    font: 50px/1.8em normal bold small-caps  haettenschweiller italic ;
}

p{
    line-height: 1.6;
    word-spacing: 2px;
    letter-spacing: 1px;
}