body {
  background-color: blueviolet;
  /* background-image: url(https://ichef.bbci.co.uk/news/480/cpsprodpb/e316/live/6bbe3870-be68-11f0-ae46-bd64331f0fd4.jpg); */
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCR5hw7G9BxOxoFOU-iwDdJscOaPmIr1YU-g&s); */
  background-image: url(https://live-production.wcms.abc-cdn.net.au/044585b9b4b248852d18e07ce5022a85?impolicy=wcms_crop_resize&cropH=1080&cropW=1920&xPos=0&yPos=0&width=862&height=485);
  background-repeat: no-repeat;
  background-position: ;
  background-size: cover;
  background-position-x: ;
    background-attachment: fixed;
  /* background: blueviolet no-repeat top right url(https://live-production.wcms.abc-cdn.net.au/044585b9b4b248852d18e07ce5022a85?impolicy=wcms_crop_resize&cropH=1080&cropW=1920&xPos=0&yPos=0&width=862&height=485); */
}
