<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>
      <div style="background-color: blue">Abdirahman</div>
      <div style="background-color: blue">Ahmed</div>
      <span style="background-color: blueviolet">Abdi</span>
      <span style="background-color: blueviolet">Nouh</span>
        <b>Farah</b>
  </h1>
  </body>
</html>
